:root{
    --secondary-text-color:#212121;
    --accent-color: #2196F3;
    --primary-text-color:#757575;
    --primary-white-color:#FFFFFF;
    --color-not-hover:#afb1b8; 
}
.container{
    padding-left: 15px; 
    padding-right: 15px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;   
}
h1,h2,h3,h4,h5,h6,ul,p{
    margin: 0%;
}

ul{
    padding-left: 0px;
}


.benefits{
  padding-top: 94px;
  padding-bottom: 94px;
}
.list{
    list-style: none;
    padding: 0px;
    display: flex;
    margin-left: auto;
}


.link{
    text-decoration: none; 
}
.benefits__list:not(:last-child){
    margin-right: 30px;
}
/* header */
.header{
    border-bottom: 1px solid #ECECEC;
}

.header__flex{
    display: flex;
    align-items: center;
}
body{
    font-family:"Roboto", sans-serif;
    font-weight: 500;
}
.header__list{
    display: flex;
    position: relative;
}
.header__item{
    position: relative;
}
.primari::after{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 5px;
    background-color: var(--accent-color);
    bottom: 0px;
    border-radius: 2px;
    transform: scaleX(1.1);
    
    transition: opacity 250ms;
}

.header__list .header__item +.header__item{
    margin-left: 50px; 
}

.header__icon-link{
    margin-right: 10px;
    text-decoration: none;
    fill:currentColor;
    height: 12px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.Web{
    color:var(--accent-color);
}
.Studio1{
   color: #000000
}
.header__logo{
    font-family:"Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-right: 93px;
}
.header__link{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-family: "Roboto",sans-serif;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus{
    color: var(--accent-color)
    
}
 .primari{
    color: var(--accent-color)
 }
 .secondary{
    color: var(--secondary-text-color);
 }
.header__contact{
    color:var(--primary-text-color);
    font-family: "Roboto",sans-serif;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;  
}

.list .header__item+.header__item{
    margin-left: 50px;
}
.hero{
    text-align: center;
}
.overlay {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    height: 600px;
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../img/hero.jpg);
  
    
}

.hero__title{
    margin-bottom: 30px;
    font-family: "Roboto",sans-serif;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color:var(--primary-white-color);
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.button{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    padding: 10px 32px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    


}
.hero__wrapper{
    padding: 200px 452px;
}
   
.main-portfolio ul{
    display: flex;
    flex-wrap: wrap;
    
}
.main-portfolio{
   padding-bottom: 94px;
}
.buttons-portfolio{
    justify-content: center;
    padding-top: 94px;
    margin-bottom: 50px;
}
.buttons-portfolio .button-main+.button-main{
    margin-left: 8px;
}

.portfolio-elements{
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
    
    

}
.portfolio-elements :hover .text-card{
    transform:translateY(0);
}

.portfolio-elements :focus .text-card{
    transform: translateY(0);
}
.card-animate{
    position: relative;
    overflow: hidden;
    
     
}
.text-card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height:1.56;
    letter-spacing: 0.03em;
    
    
    color:var(--primary-white-color);
    padding: 63px 24px;
    background-color:rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform 250ms;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}

.portfolio-link{
    display: block;
    text-decoration: none;
    
}

.portfolio-link:hover,
.portfolio-link:focus  {
    background: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-elements:nth-child(3n){
    margin-right: 0;
}
.portfolio-elements:nth-last-child(-n+3){
    margin-bottom: 0px;
}
.name-text{
    
    padding: 20px 24px;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    margin-top: 0px;
}
.portfolio-img{
    display: block;
    
}

/* Benefits */
.visually-hidden{
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.icon-benefits{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    width: 270px;
    background: #F5F4FA;
    border-radius: 4px;
    background-size: contain;
    margin-bottom: 30px;
    padding: 25px 100px;
}

.section-title{
    font-family: "Roboto" sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--secondary-text-color);
    margin-bottom: 10px;

}
.section-paragraph{
    width: 270px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);

}
.feature-list {
    padding-bottom: 94px;
}

.list-item {
    margin-right: 30px;
    
}

.list-item img :nth-child(3n) {
    margin-right: 0;
}
.job{
    position: relative;
}
.feature-name{
    position: absolute;
    display: flex;
    width: 100%;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    bottom: 0;
    
    justify-content: center;
    align-items: center;
        

}
.img{
    display: block;
}

.text-feature{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-white-color);

    
    
    
}



/* our team */
.our-team{
    background-color: #F5F4FA;
}
.team{
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.team-list{
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: #F5F4FA;
  
}
.team-item{
    margin-right: 30px;
    width: 270px;
    background-color: var(--primary-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

}
.team-item:nth-child(n4){
    margin-right: 0px;
}
.title{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--secondary-text-color);
    margin-bottom: 50px;
}
.team-name{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
    color: var(--secondary-text-color);
    
 
}

.team-position{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
    color: var(--primary-text-color);
}

.team-social{
    display: flex;
    padding: 0px;
    margin: 0;
}
.social-link{
    width: 44px;
    height: 44px;
    list-style: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #FFFFFF;
    display: flex;
    transition: background-color 250ms 
    cubic-bezier(0.4, 0, 0.2, 1), color 250ms 
    cubic-bezier(0.4, 0, 0.2, 1);
}

.social-item{
    width: 20px;
    height: 20px;
    padding: 0px;
    border: none;
    fill: var(--color-not-hover);
    
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), 
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social{
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.social:nth-child(4){
    margin-right: 0px;
}

.social-link:hover svg,
.social-link:focus svg{
    padding: 0px;
    border: none;
    fill: var(--primary-white-color);
   
}

.social-link:hover,
.social-link:focus{
    background-color: var(--accent-color);
}

.clients{
    padding-top: 94px;
    padding-bottom: 94px;
}
.client-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    fill: var(--color-not-hover);
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    width: 170px;
    height: 92px;
    transition: border 250ms 
    cubic-bezier(0.4, 0, 0.2, 1), color 250ms 
    cubic-bezier(0.4, 0, 0.2, 1);

}

.clients-link{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-list{
    margin-right: 30px;
}
.client-list:last-child{
    margin-right: 0px;
}
.client-icons:hover,
.client-icons:focus{
    fill: var(--accent-color);
    border: 1px solid var(--accent-color);
    
}

/* footer */

.studio-second{
    color: var(--primary-white-color);
}
.footer{
    background-color: #2F303A; 
    
}
.footer-container{
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    align-items: baseline;

}
.footer-container ul{
    margin-top: 20px;
}

.footer-list{
    display: flex;
    align-items: center;
}
.footer-contact{
    flex-direction: column;
}
.social-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.footer-social{
    margin-left: 70px;
}
.social-footer{
    background: rgba(255, 255, 255, 0.1);
}
.footr-item{
    fill: var(--primary-white-color);
}


/* contact */
.footer-address{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-white-color);
    text-decoration: none;
    margin-bottom: 9px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-mail-tel{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height:1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    margin-bottom: 9px;
}
.footer-list-mail{
    margin-left: 93px;
}
.footer-form{
    display: flex;
    margin-top: 20px;
}
.form-lable{
    display: flex;
}
.footer-input{
    margin-right: 12px;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: #2F303A;
    padding:15px 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-input:focus{
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
}
.footer-form input ::placeholder{
    font-size: 16px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    margin-left: 16px;
}
.footer-form-btn{
    display: flex;
    width: 200px;
    height: 50px;
    padding: 10px 28px;
}
.form-svg-send{
    margin-left:13px;
    width: 100%;
    height: 100%;
}
/* portfolio */
/* filtr wirk */
.button-portfolio {
    display: flex; 
}
.button-main{
    display: flex;  
}
.buttons{
    display: inline-block;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    border-radius: 4px;
    padding: 6px 25px;
    min-width: 73px;
    text-align: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
     background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
     box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}
.buttons.primary{
    
    color:var(--primary-white-color);
    background-color:var(--accent-color);
    
    border: none;
    
   
}
.buttons.secondary{
    color: var(--secondary-text-color);
    background-color: #F5F4FA;
    
    border: none;
    

}
.buttons:hover,
.buttons:focus{
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgb(0 0 0 / 10%), 0px 1px 2px rgb(0 0 0 / 8%), 0px 2px 2px rgb(0 0 0 / 12%);
}
/* portfolio */
.name-portfolio{
    font-family: "Roboto";
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
    color: var(--secondary-text-color);
}

.about-text{
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color:var(--primary-text-color);

}
/* modal */
.backdrop{
    position: fixed;
    width: 100%;
    height: 1024px;
    left: 0px;
    top: 0px;
    background: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: 
        opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.modal{
    position: absolute;
    padding: 40px;
    width: 528px;
    height: 581px;
    border-radius: 4px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: var(--primary-white-color);
    
}
.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.close-button{
    position: absolute;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    right: 8px;
    top: 8px;
    cursor: pointer;
    
    
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

}
.svg-close:hover,
.svg-close:focus{
    fill: var(--accent-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.svg-close{
    
    align-items: center;
    justify-content: center;
  
}
.no-scroll{
    overflow: hidden;
}

textarea {
    resize: none;
}

/* form */

.form-field {
    /* outline: 1px solid blue; */
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    /* position: relative; */
}
.form{
    display: flex;
    flex-direction: column;
}
.form-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
     
}
.input-wrap:focus-within > .form-icon{
   fill: var(--accent-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form {
    width: 448px;
    height: 342px;  
}

.modal-form-head {
    
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: var(--secondary-text-color);
}

.form-field label {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    margin-bottom: 4px;
    font-size: 12px;
    color: var(--primary-text-color);
}
.input-wrap{
    position: relative;
}
.form-input {
    height: 40px;
    border: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    width: 100%;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form textarea{
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form input:focus{
    border: 1px solid rgba(33, 150, 243, 1);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-form textarea:focus{
    border: 1px solid rgba(33, 150, 243, 1);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.form-field textarea::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}
.btn{
    /* align-items: center;
    align-self: center;
    margin-top: auto;
    padding: 10px 52px; */
    display: block;
    align-self: center;
    background: #188CE8; 
    color: var(--primary-white-color);
    width: 200px;
    height: 50px;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    margin-top: 30px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.btn:hover,
.btn:focus{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.error{
    color: red;
    display: none;
}
input,textarea{
    outline: none;
}
.checkbox{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
}
.form-icon-checkbox{
    display: flex; 
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;
    margin-right: 8px;
    cursor: pointer;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.checkbox:hover ~ .form-icon-checkbox{
    border:2px solid var(--accent-color) ;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-link{
    color: var(--accent-color); 
}
.checkbox-label{
    display: flex;
    align-items: center;
    margin-right: 7px;
    margin-top: 10px;
    margin-bottom: 30px;
    
}
.checkbox:checked ~ .form-icon-checkbox{
    background-color: #188CE8;
    background-image: url(../images/icon-check.svg) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-origin: border-box;
    border-color: var(--accent-color);
    
}