.benefits {
    padding-top: 94px;
    padding-bottom: 94px;
}

.benefits__list:not(:last-child) {
    margin-right: 30px;
}
.icon-benefits {
    @extend %flex-center;
    height: 120px;
    width: 270px;
    background: #F5F4FA;
    border-radius: 4px;
    background-size: contain;
    margin-bottom: 30px;
    padding: 25px 100px;
}
.section-title {
    font-family: "Roboto" sans-serif;
    @include font (14px,700,1.14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-text-color);
    margin-bottom: 10px;

}

.section-paragraph {
    width: 270px;
    @include font (14px, 400, 1.71);
    letter-spacing: 0.03em;
    color: var(--primary-text-color);

}