.Web {
    color: var(--accent-color);
}

.Studio1 {
    color: #000000
}

.header__logo {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-right: 93px;
}