.Web {
    color: var(--accent-color);
}

.Studio1 {
    color: #000000
}

.header__logo {
    font-family: "Raleway";
    @include font (26px,700,1.19);
    letter-spacing: 0.03em;
    margin-right: 93px;
}