.main-portfolio ul {
    display: flex;
    flex-wrap: wrap;

}

.main-portfolio {
    padding-bottom: 94px;
}

.buttons-portfolio {
    justify-content: center;
    padding-top: 94px;
    margin-bottom: 50px;
}

.buttons-portfolio .button-main+.button-main {
    margin-left: 8px;
}
.button-portfolio {
    display: flex;
}

.button-main {
    display: flex;
}

.buttons {
    display: inline-block;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    border-radius: 4px;
    padding: 6px 25px;
    min-width: 73px;
    text-align: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.buttons.primary {

    color: var(--primary-white-color);
    background-color: var(--accent-color);

    border: none;


}

.buttons.secondary {
    color: var(--secondary-text-color);
    background-color: #F5F4FA;
    border: none;
}

.buttons:hover,
.buttons:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgb(0 0 0 / 10%), 0px 1px 2px rgb(0 0 0 / 8%), 0px 2px 2px rgb(0 0 0 / 12%);
}