.container {
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
    margin: 0%;
}

ul {
    padding-left: 0px;
}

.list {
    list-style: none;
    padding: 0px;
    display: flex;
    margin-left: auto;
}

.link {
    text-decoration: none;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.link:hover,
.link:focus {
    color: var(--accent-color)
}

.primari {
    color: var(--accent-color)
}

.secondary {
    color: var(--secondary-text-color);
}
.title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    margin-bottom: 50px;
}